/*顶部*/
.top {
  height: 30px;
  background: #eeeff1;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.top .top_con {
  overflow: hidden;
  margin: 0 auto;
  height: 30px;
}
.top_left,
.top_right {
  line-height: 30px;
  color: #666666;
}
.top_right span {
  margin-left: 120px;
  margin-right: 50px;
}
.top_right button {
  margin: 3px 5px 20px;
  font-size: 12px;
  border: none;
  width: 38px;
  height: 18px;
  line-height: 18px;
}
/*顶部结束*/
/*头部*/
.header {
  width: 100%;
  height: 150px;
  background: #EBEBEB;
  padding-top: 30px;
  line-height: 150px;
}
.header img {
  display: block;
  width: 100px;
  height: 120px;
}
.disnone {
  display: none;
}
.header .info a {
  display: block;
  width: 150px;
  height: 45px;
  color: #fff;
  background: #F5841C;
  border-radius: 5px;
  margin-top: 40px;
  line-height: 45px;
  font-size: 16px;
  font-family: "微软雅黑";
  margin-left: 120px;
  text-align: center;
}
.header .info a:hover {
  background: #d36a0a;
}
/*头部结束*/
/*导航栏*/
nav {
  background: url(../images/nav_bg.png) repeat-x top left;
}
div.in {
  background-color: #fe7210;
  color: #fff;
  border: none;
}
.navbar-default .navbar-toggle {
  background-color: #fe7210;
  background: url(../images/nav_bg.png) repeat-x top left;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #fe7210;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.nav > li {
  width: 190px;
  text-align: center;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  display: block;
  width: 166.5px;
  height: 45px;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  margin-top: 2px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.nav > li > a:hover {
  background: url(../images/nav_over.png) no-repeat top left;
}
.nav .dropdown-menu {
  width: 166.5px;
  background: #fd9342;
}
.nav .dropdown-menu a {
  font-size: 12px;
  width: 164.5px;
  height: 40px;
  line-height: 40px;
  margin: 0px;
  color: #fff;
}
.nav .dropdown-menu a:hover {
  color: #fff;
  background: #fe7210;
}
.nav > li:hover .dropdown-menu {
  display: block;
}
.nav > li:after {
  content: "";
  width: 0;
  height: 5px;
  background: #F5841C;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease 0s;
}
/*导航栏结束*/
/*主体内容开始*/
.main-container .cy_div {
  padding-top: 32px;
}
.main-container .cy_div .cy_div_ul {
  height: 38px;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  top: 1px;
}
.main-container .cy_div .cy_div_ul li {
  float: left;
  margin-left: 1px;
  width: 249.25px;
  text-align: center;
  font-size: 14px;
  line-height: 38px;
  border-top: 1px solid #F5841C;
  background: #F5841C;
}
.main-container .cy_div .cy_div_ul li a {
  display: block;
  color: #fff;
}
.main-container .cy_div .cy_div_ul .cur {
  background: #fff;
  margin-left: 0;
}
.main-container .cy_div .cy_div_ul .cur a {
  color: #F5841C;
}
.main-container .nav-tabs > li.active > a,
.main-container .nav-tabs > li.active > a:hover,
.main-container .nav-tabs > li.active > a:focus {
  background: #fff;
  margin-left: 0;
  color: #F5841C;
}
.main-container .nav > li > a:hover {
  background: transparent;
}
.main-container .nav-tabs > li > a {
  border: 0;
}
.main-container .nav > li > a:hover {
  border: 0;
}
.main-container .nav-tabs {
  border: 0;
}
.main-container .nav-tabs li {
  margin-bottom: 0;
  border: 0;
}
.main-container .tab-content {
  border: 0;
  margin-top: 0px;
  width: 1000px;
  margin: 0 auto;
}
.main-container .tab-content .new-cy {
  border: 1px solid #eaeaea;
  padding: 2px 0;
  height: 64px;
}
.main-container .new-cy a{
	font-size: 14px;
}
.main-container .tab-content .new-cy .tab_div_ul label {
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}
.main-container .tab-content .new-cy .tab_div_ul .list-div {
  float: left;
  padding-top: 10px;
  width: 187px;
  height: 47px;
  background: url(../images/new07.png) 160px no-repeat;
}
.main-container .tab-content .new-cy .tab_div_ul .list-div-car{
	float: left;
  padding-top: 10px;
  width: 187px;
  height: 47px;
}
.main-container .tab_div_ul .list-div{
	float: left;
  padding-top: 10px;
}
.main-container .tab-content .new-cy .tab_div_ul .list-select {
  padding-right: 36px;
  width: 140px;
  background: url(../images/new07.png) 160px no-repeat;
  border: 1px solid #ccc;
}
.main-container .tab-content .new-cy .tab_div_ul > li {
  height: 56px;
}
.main-container .tab-content .tab_div_ul label {
  float: left;
  width: 50px;
  font-size: 12px;
  text-align: left;
  color: #3b3a3a;
  line-height: 56px;
}
.main-container .tab-content .tab_div_ul .list-select {
  padding-right: 36px;
  width: 199px;
  background: url(../images/new07.png) 217px no-repeat;
}
.main-container .tab-content .tab_div_ul>li input {
  border: 1px solid #cccccc;
  height: 35px;
  width: 159px;
  padding: 0 9px;
  color: #000000;
  outline: none;
}
.main-container .city-picker-span {
  border-bottom: 0;
  width: 158px !important;
}
.main-container .list_huo3 .city-picker-span{
	width: 158px !important;
  height: 35px !important;
  line-height: 34px !important;
}
.main-container .city-picker-span>.title>span {
    color: #333;
    padding: 4px;
    border-radius: 3px;
    font-size: 13px;
}
.main-container .list_huo3  .city-picker-dropdown{
	width:320px !important;
}
.main-container .tab_div_ul select{
	padding-left: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #cccccc;
  height: 35px;
  border-radius: 0;
  width: 100px;
}
.main-container .tab_div_ul select option{
	margin-left: 10px;
}
.main-container .new-cy .new_tab_bottom{
	float: left;
  padding: 12px 0;
  margin-left: 20px;
}
.new_tab_bottom {
  padding: 15px 8px 0 20px;
}
.new_tab_bottom a{
	float: left;
  width: 80px;
  height: 32px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 32px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: url(../images/new08.jpg) left repeat-x;
}
/*下部分*/
.main-container .cy_div .hy_right_top{
	line-height: 26px;
}
.hy_right_top{
	height: 51px;
  padding-top: 23px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.hy_right_top p{
	float: left;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  position: relative;
  bottom: 1px;
  border-bottom: 3px solid #8e8e8e;
}
.hy_list{
	font-size: 12px;
  color: #292929;
}
.hy_list .hy_list_tit{
	line-height: 40px;
  background: #fafafa;
  color: #F5841C;
  border-bottom: none;
  height: 40px;
}
.hy_list .hy_list_tit th{
	font-size: 14px;
}
.main-container .cy_div .list_ddh{
	width: 160px;
  text-align: center;
}
.main-container .cy_div .hy_list .hy_list_tit .list_yslx{
	width: 200px;
  padding-left: 0;
  text-align: center;
}
.main-container .cy_div .list_hwms{
	width: 130px;
  text-align: center;
}
.main-container .cy_div .list_jgyx{
	width: 90px;
  text-align: center;
}
.main-container .cy_div .list_cllx{
	width: 88px;
	text-align: center;
}
.main-container .cy_div .list_clcd{
	width: 100px;
  text-align: center;
}
.main-container .cy_div .list_fbsj{
	width: 108px;
	text-align: center;
}
.main-container .cy_div .list_jd{
	width: 100px;
  text-align: center;
}
.main-container .cy_div .list_jd a{
	display: inline-block;
	color: #fff;
	width: 98px;
  background: url(../images/hy_01.png) center no-repeat;
  cursor: pointer;
}
.hy_list tr{
	line-height: 65px;
  border-bottom: 1px solid #d7d6d6;
}
.list_ddh_div{
	margin-top: 8px;
}
.list_ddh_left{
	width: 44px;
  height: 44px;
  float: left;
  margin-right: 10px;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
}
.list_ddh_right{
	text-align: left;
  float: left;
  color: #292929;
}
.list_ddh_right p{
	line-height: 45px;
  text-align: left;
}
.cy_div td{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}
.main-container .cy_div .list_yslx{
	width: 190px;
  text-align: left;
  padding-left: 20px;
}
.main-container .cy_div .list_yslx p{
	line-height: 30px;
  padding-bottom: 2px;
}
.main-container .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	padding: 8px;
  line-height: 1.42857143;
}
.main-container .table > thead > tr > th{
	border-bottom: 0;
}
.main-container .table > tbody > tr > td{
	border-top: 0;
	line-height: 65px;
	padding: 0;
}
.main-container .cy_div .text{
	width: 700px; 
	height: 40px; 
	line-height: 40px; 
	position: absolute; 
	background: rgb(234, 234, 234); 
	left: 34%; 
	color: #FF0000; 
	display: none;
}
.list_more{
	width: 80px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #F5841C;
  font-size: 14px;
  text-align: center;
  background-color: #F5841C;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.list_more a{
	color: #FFF;
}
/*主体内容结束*/
/*底部*/
.footer {
  background: #525252;
  width: 100%;
  padding-bottom: 20px;
  margin-top: 30px;
  height: 300px;
}
.footer>.row{
	margin: 0;
}
.footer .col-sm-4 .footer_tit {
  line-height: 40px;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.footer .col-sm-4 ul li {
  height: 30px;
  width: 125px;
  float: left;
  text-align: left;
  font-size: 12px;
  line-height: 30px;
}
.footer .col-sm-4 ul li a {
  color: #fff;
}
.footer .col-sm-4 .footer_p {
  line-height: 22px;
  margin-top: 15px;
  margin-bottom: 6px;
  font-size: 12px;
  color: #fff;
}
.footer .di {
  color: #4d4d4d;
  font-size: 12px;
  line-height: 40px;
  background: #e6e6e6;
  clear: both;
  margin-top: 41px;
}
.footer .footer_right p {
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  text-align: left;
}
.footer .footer_right p a {
  color: #fff;
}
.footer .footer_right .info p {
  height: 25px;
  line-height: 25px;
  margin-bottom: 0;
}
/*底部结束*/